services:
  - type: web
    name: discord-bot-dashboard
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 10000
      - key: DISCORD_TOKEN
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: GUILD_ID
        sync: false
